@{
    string CurrentURL = Request.Url.AbsoluteUri;
    HttpContext.Current.Response.AddHeader("Cache-Control", "no-cache, no-store, must-revalidate");
    HttpContext.Current.Response.AddHeader("Pragma", "no-cache");
    HttpContext.Current.Response.AddHeader("Expires", "0");
    string color;
}
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Hello</title>
    <meta name="description" content="Hello" />

    <link href="../../fonts/roboto.css" rel="stylesheet" type="text/css" />
    <link href="../../fonts/icon.css" rel="stylesheet" type="text/css" />

    <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../plugins/node-waves/waves.css" rel="stylesheet" />
    <link href="../../plugins/animate-css/animate.css" rel="stylesheet" />

    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/themes/all-themes.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
</head>

@if (Request.Cookies["Theme"] == null) {
    color = "red";
} else {
    color = Request.Cookies["Theme"].Value;
}

<body class="theme-@color ls-closed overlay-open">
    <!-- #region Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Loading...</p>
        </div>
    </div>
    <!-- #endregion -->
    <!-- #region Overlay For Sidebars  -->
    <div class="overlay"></div>
    <!-- #endregion -->
    <!-- #region Search Bar  -->
    @*<div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" id="search" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
        <div class="search-results"></div>
    </div>*@
    <!-- #endregion -->

    @Html.Partial("_NavBar")
    <section>
        @Html.Partial("_LeftSideBar")
        @Html.Partial("_RightSideBar")
    </section>

    <section id="content" class="content ">
        <div class="container-fluid">
            <div class="block-header">
                @RenderBody()
            </div>
        </div>
    </section>

    <script src="../../plugins/jquery/jquery.min.js"></script>
    <script src="../../plugins/bootstrap/js/bootstrap.js"></script>
    <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="../../plugins/node-waves/waves.js"></script>

    <script src="~/js/lunr.min.js"></script>
    <script src="~/js/search.js"></script>
    @*<script src="../../plugins/jquery-countto/jquery.countTo.js"></script>*@
    @*<script src="../../plugins/raphael/raphael.min.js"></script>
    <script src="../../plugins/morrisjs/morris.js"></script>
    <script src="../../plugins/chartjs/Chart.bundle.js"></script>*@


    @*<script src="../../plugins/flot-charts/jquery.flot.js"></script>
    <script src="../../plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="../../plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="../../plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="../../plugins/flot-charts/jquery.flot.time.js"></script>
    <script src="../../plugins/jquery-sparkline/jquery.sparkline.js"></script>*@

    <script src="../../js/admin.js"></script>
    @*<script src="../../js/pages/index.js"></script>*@
    <script src="../../js/demo.js"></script>


    @Html.Hidden("themeurl",Url.Action("ThemeChanger","Home"))
    @RenderSection("scripts", required: false)
</body>
</html>